<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>./tests/Integration</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" target="./reports/coverage-html" />
        <log type="junit" target="./reports/junit.xml" />
        <log type="coverage-clover" target="./reports/clover.xml" />
    </logging>
</phpunit>